<div class="container-fluid no-pad events-detail">
  <div class="row no-pad">
    <div class="col-md-12 event-content">
      <div class="hero-img hidden-sm-down" style="background-image: url(<%= @event.hero_image_url %>); background-size: cover;"> </div>
      <div class="container">
        <h3> <%= @event.name %> </h3>
        <div class="pull-left">
          <%= fa_icon 'clock-o' %>
        </div>
        <div class="time-details">
          <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
        </div>

        <div class="pull-left">
          <%= fa_icon 'map-marker' %>
        </div>
        <div class="venue-details">
          <%= @event.venue.name %>
          <br/>
          <%= @event.venue.full_address %>
        </div>

        <!--<div class="img-spacer">-->
          <!--<%= image_tag 'shadow-top.png' %>-->
        <!--</div>-->
        <div class="extended-description">
          <%= @event.extended_html_description.html_safe %>
        </div>


        <br><br>
          <table class="table">
            <thead> <tr><th>TicketType</th> <th>Price</th> <th>Quantity</th> </tr> </thead>
            <tbody>
        <% @event.ticket_types.each do |ticket_type| %>
            <tr><td><%= ticket_type.name %></td> <td><%=number_to_currency(ticket_type.price, unit: 'VND', precision: 0) %></td> <td><%= ticket_type.max_quantity %></td> </tr>
        <% end %>
            </tbody>
          </table>

      </div>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-11 col-md-offset-1">
<%= form_for(TicketType.new, url: ticket_type_create_path) do |f| %>

    <%= f.hidden_field :event_id, :value => @event.id %>


    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :max_quantity %>
    <%= f.text_field :max_quantity %>

    <%= f.submit '+TicketType',class: 'btn btn-info' %>
<% end %>


    </div>

  </div>
  <br><br>
  <a href=<%= myevent_edit_path(@event.id) %> class="btn btn-warning" role="button">Edit Event</a>

</div>

